@import url('https://fonts.googleapis.com/css2?family=Arimo&family=Roboto:ital,wght@0,300;1,100&display=swap');
@import url("https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&subset=devanagari,latin-ext");

body{}.news{width: 220px; padding-right: 10px; background-color:#D6EAF8 ; }.news-scroll 
a{text-decoration: none; color: #000000; }.dot{
  height: 6px;
  width: 6px;
  margin-left: 3px;
  margin-right: 3px;
  margin-top: 2px !important;
  background-color: #D6EAF8 !important;
  border-radius: 50%;
  display: inline-block}

body {
  padding: 10px;
  font-family: 'Arimo', sans-serif;
  
}


.ALTA{

  background-color: #e70800;
  width: 85px;
  text-align: center;
  color: aliceblue;
  font-weight: 100;
  padding: 2px;
  font-size: 13px;
  display:inline-block; 
  content: "ALTA";
  
}


.MEDIA{

  background-color: #e77200;
  width: 85px;
  text-align: center;
  color: aliceblue;
  font-weight: 100;
  padding: 2px;
  font-size: 13px;
  content: "MEDIO";
  display:inline-block; 

}


.BAJA{

  background-color: #84c6ed;
  width: 85px;
  text-align: center;
  color: aliceblue;
  font-weight: 100;
  padding: 2px;
  font-size: 13px;
  display:inline-block; 
  

}

.desplegar{
position: relative;
width: 650px;
height: 250px;
/* border: 1px black solid; */
float: right;
left: 70px;
top: -13px;
opacity: 1;
transition: opacity 2s linear;



}

button{
  display: block;
  outline:none;
  background-color: white;
  border: white;
  cursor: pointer;
  text-decoration: none;
  color: white;
  
}

button:focus{

  color: white;
  outline: none !important;
  background-color: transparent;
  border: white; 

}

.cointainer{

display: flex;


}


.masinfo{
 width: 480px;
margin-top: 8px;
padding-right: 10px;
 /* border: 1px black solid; */
}

.descripcion{

width:300px ;
/* border: 1px black solid; */
margin-top: 14px;
padding-left: 60px;
padding-right: 5px;

}


/* .table {border-collapse:collapse; border: none;} */


.todos{

  display: inline-block;
  width: 600px;
  border: solid 1px black;
}



/* --------------------- */

.custom-checkbox {
  display: none;
  appearance: none;
}

.custom-checkbox + label {
  font-weight: normal;
  cursor: pointer;
}

.custom-checkbox + label span {
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
  width: 24px;
  height: 24px;
  cursor: pointer;
  position: relative;
  border: 1px solid #EAECEF;
  background-color: #ffffff;
  border-radius: 3px;
  font-weight: 500;
}

.custom-checkbox + label span::before {
  content: "";
  opacity: 0;
  width: 12px;
  height: 12px;
  background-color: #000000;
  position: absolute;
  left: 50%;
  top: 50%;
  bottom: auto;
  right: auto;
  transform: translate(-50%, -50%);
  transition: opacity 0.2s;
  border-radius: 2px;
}

.custom-checkbox:checked + label span::before {
  opacity: 1;
}

.custom-checkbox:disabled + label {
  opacity: 0.5;
  cursor: default;
}

.custom-checkbox:disabled + label span {
  cursor: default;
}


#chec{

  background: none;
  border: none;
  color: #000000;
}




.sinsalto{
display: inline;
font-size: 15px;
background-color: #e70800;
padding: 4px;
font-weight: 623;
color: #ffffff;
}

.sinsaltomedio{
  display: inline;
  font-size: 15px;
  background-color: #e77200;
  padding: 4px;
  font-weight: 623;
  color: #ffffff;
  }


  .sinsaltobajo{
    display: inline;
    font-size: 15px;
    background-color: #84c6ed;
    padding: 4px;
    font-weight: 623;
    color: #ffffff;
    }

.nosalto{
  display: inline-block;
  font-size: 14px;
  font-weight: 200 ;
  
  
}

.chetodo{
  display: inline-block;
  background-color: #536878;
  padding-top: 10px;
  padding: 2px;
  padding-left: 10px;
  
  width: 170px;
  height: 43px;
  font-size: 23px;
  /* border: #ffffff 1px solid; */
}

.dropdown-menu{

  background-color: #30373d !important;
  position: fixed;
  width: 100%;
}

label{
  color: #ffffff;
  width: 100%;
  font-family: 'Arimo', sans-serif;
  font-size: 14px;
  font-weight:100px !important;
}

#dropdownMenuButton{
  background-color: #ffffff;
  color: #000000;
  border-radius: 0 !important;
  border: 	#708090 1px solid;
}

.import{
  
  display: inline-block;
  float: inline-end;
  
}


.vertical-line{
  position: absolute;
  top: 380px;
  left: 465px;
  z-index: 1;
  width: 1px; /* Line width */
  background-color: black; /* Line color */
  
  display: inline-block;
  height: 69px;
 
}


#dropdownMenuButton:focus{
  background-color: #30373d;
  color: #ffffff;
  display: block;
  /* margin-bottom: 300px;
}

.dropdown:hover .dropdown-menu {
  /* display: block;
  background-color: #3b444b;
  margin-bottom: 300px;
  color: #ffffff; */
}


.menufilt{
  margin-top: 35px;
  margin-bottom: 35px;
  /* background-color: #3b444b; */
 
  

}

.menu{
  height: 100px;
  background-color: #3b444b;
}

.titulo{

  margin-top: 40px;
  margin-bottom: 25px;
  
}

.flecha{
  
  display: inline-block;
  margin-top: 9px;
  padding-top: 0px;
  color: #ffffff;

}

.rellenar{

  position: absolute;
  top: 0px;
  left: -337px;
  width: 340px;
  height: 193px;
  background-color: #3b444b;
  border-radius: 1px;

}

/* #30373d */

.rellenar2{
  position: absolute;
  top: 0px;
  left: 1037px;
  width: 200px;
  height: 193px;
  background-color: #30373d;
  border-radius: 1px;

}

#dropdownMenuButton{
  display: inline-block;
  padding-bottom: 45px;
}

.altofiltro{
  position: absolute;
  top: 412px;
  left: 323px;
  z-index: 1;
  display: inline;
  font-size: 18px;
  background-color: #e70800;
  padding: 5px;
  font-weight: 623;
  color: #ffffff;

}

.mediofiltro{

  position: absolute;
  top: 412px;
  left: 363px;
  z-index: 1;
  display: inline;
  font-size: 18px;
  background-color: #e77200;
  padding: 5px;
  font-weight: 623;
  color: #ffffff;

}

.bajofiltro{

  position: absolute;
  top: 412px;
  left: 405px;
  z-index: 1;
  display: inline;
  font-size: 18px;
  background-color: #84c6ed;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 7px;
  padding-right: 7px;
  font-weight: 623;
  color: #ffffff;

}

.menufilt{
	
  /* height: 300px;
	border: 1px solid black; */
  display: flex;
  flex-wrap: nowrap;
  }

.butonprimer{
  
  
  /* margin-right: 250px; */
}



.contenedorfiltroimportancia{
	
}



.rellenarbuton2{
  position: absolute;
  top: 0px;
  left: -537px;
  width: 540px;
  height: 193px;
  background-color: #3b444b;
  border-radius: 1px;
}

.rellenarbutonderecha{
 
  position: absolute;
  top: 0px;
  left: 230px;
  width: 840px;
  height: 193px;
  background-color: #33353d;
  border-radius: 1px;
  z-index: -1;

}

.butondos{
  /* position: absolute;
  
  top: 592px;
  left: 557px; */
  width: 100% !important;
  
  margin-left: 170px;
  
}


.vertical-line2{
  position: absolute;
  top: 8px;
  left: 180px;
  z-index: 1;
  width: 1px; /* Line width */
  background-color: black; /* Line color */
  
  display: inline-block;
  height: 69px;
 
}

.rellenarbutonbuton2{

  position: absolute;
  top: 0px;
  left: -667px;
  width: 670px;
  height: 235px;
  background-color: #3b444b;
  border-radius: 1px;

}

.rellenarrellenar2{
  position: absolute;
  top: 0px;
  left: 632px;
  width: 200px;
  height: 193px;
  background-color: #30373d;
  border-radius: 1px;
  z-index: -1;

}

.america{
  display: inline;
  font-size: 15px;
  
  padding: 4px;
  font-weight: 623;
  color: #ffffff;
 
  }
  
.europa{
    display: inline;
    font-size: 15px;
    background-color: #ffffff;
    padding: 4px;
    font-weight: 623;
    color: #ffffff;
  }
  
  
  .asia{
      display: inline;
      font-size: 15px;
      background-color: #ffffff;
      padding: 4px;
      font-weight: 623;
      color: #ffffff;
   }


   .chetodo2{
    display: inline-block;
    background-color: #536878;
    padding-top: 10px;
    padding: 2px;
    padding-left: 10px;
    
    width: 185px;
    height: 43px;
    font-size: 23px;
    /* border: #ffffff 1px solid; */
  }


  .chetodoeuropa{
    display: inline-block;
    background-color: #536878;
    padding-top: 10px;
    padding: 2px;
    padding-left: 10px;
    
    width: 185px;
    height: 43px;
    font-size: 23px;
    /* border: #ffffff 1px solid; */
  }



/* estilos de las fechas */



.containerfecha  {
  font-size: 18px;
  line-height: 30px;
  color: #f0eff3;
  text-align: center;
  position: relative;
  padding-left: 110px;
  /* border: 1px solid black; */
}

.rowfecha {
  margin: 0px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.rowfecha  {
  padding: 0px;
  cursor: pointer;
  display: flex;
  
}

.labelfecha{
  padding: 20px;
  cursor: pointer;
  display: flex;
  
}



.rowfecha .labelfecha .inputfecha {
  display: none;
}



.rowfecha .labelfecha .icon-box {
  position: relative;
  display: flex;
  width: 120px;
  padding: 15px;
  flex-direction: column;
  align-items: center;
  background-color: white;
  color: black;
  border-radius: 3px;
  font-size: 21px;
  transition: 0.5s;
  user-select: none;
  
}

.rowfecha .labelfecha .inputfecha:checked ~ .icon-box {
  background: linear-gradient(138deg, #28c5b0, #d5e52a);
  color: #fff;
}

.rowfecha .labelfecha .icon-box .spanfecha {
  margin: 5px;
  font-size: 18px;
}

.containerfecha .btn {
  width: 130px;
  height: 40px;
  position: absolute;
  left: 550px;
  font-size: 16px;
  border: 0;
  outline: none;
  transition: 0.5s cubic-bezier(0.755, 0.05, 0.855, 0.06);
}


.butonmandarfiltro{

  position: absolute;
  top: 580px;
  left: 847px;
  width: 130px;
  height: 50px;
}


.primerdato{
 border: 1px solid black;
}

.segundodato{
  border: 1px solid black;
}

.semueve2{
  background-color: #D6EAF8 ;
  padding: 13px;
  font-size: 17px;
  
}

.brenew{
  padding: 7px;
  
}
.colordefondo{
  background-color: #D6EAF8;
}

.semueve{
  width: 90%;
  margin-left: 5%;
}


/* css del footer */

.site-footer
{
  background-color:#26272b;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#737373;
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:#737373;
}
.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#737373
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d
}
.copyright-text
{
  margin:0
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}
.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#29aafe
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.facebook:hover
{
  background-color:#3b5998
}
.social-icons a.twitter:hover
{
  background-color:#00aced
}
.social-icons a.linkedin:hover
{
  background-color:#007bb6
}
.social-icons a.dribbble:hover
{
  background-color:#ea4c89
}
@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}

.site-footer{
	background-color: #30373d;
	color: white;
  margin: -10px;
}

/* termina la parte del footer */

.espacio{
	display: inline-block;
	height: 300px;
}

.form-control-2 {
  width: 100px !important;
  margin-right: 10px;
}

.form-control-3 {
  width: 75px !important;
  margin-right: 10px;
}

.inputs-tiempo {
  display: flex;
  flex-wrap: wrap;  
}

.btn-eliminar {
  background-color: #007bb6;
}


/* animacion */





.wrapper {
  max-width: 800px;
  margin: 80px auto;
  padding: 30px 45px;
  box-shadow: 5px 25px 35px #3535356b;
}

.wrapper .labelform {
  display: block;
  padding-bottom: 0.2rem;
}
.labelform{
  color: #000000;
}

.wrapper .form .row {
  padding: 0.6rem 0;
}

.wrapper .form .row .form-control {
  box-shadow: none;
}

.wrapper .form .option {
  position: relative;
  padding-left: 20px;
  cursor: pointer;
}


.wrapper .form .option input {
  opacity: 0;
}

.wrapper .form .checkmark {
  position: absolute;
  top: 1px;
  left: 0;
  height: 20px;
  width: 20px;
  border: 1px solid #bbb;
  border-radius: 50%;
}

.wrapper .form .option input:checked~.checkmark:after {
  display: block;
}

.wrapper .form .option:hover .checkmark {
  background: #f3f3f3;
}

.wrapper .form .option .checkmark:after {
  content: "";
  width: 10px;
  height: 10px;
  display: block;
  background: linear-gradient(45deg, #ce1e53, #8f00c7);
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 300ms ease-in-out 0s;
}

.wrapper .form .option input[type="radio"]:checked~.checkmark {
  background: #fff;
  transition: 300ms ease-in-out 0s;
}

.wrapper .form .option input[type="radio"]:checked~.checkmark:after {
  transform: translate(-50%, -50%) scale(1);
}

#sub {
  display: block;
  width: 100%;
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 5px;
  color: #333;
}

#sub:focus {
  outline: none;
}

@media(max-width: 768.5px) {
  .wrapper {
      margin: 30px;
  }

  .wrapper .form .row {
      padding: 0;
  }
}

@media(max-width: 400px) {
  .wrapper {
      padding: 25px;
      margin: 20px;
  }
}



.botondefrom{
  padding: 10px 35px 10px 35px;
  margin-left: 290px;
  margin-top: 15px;
  margin-bottom: 4px;
  font-size: 20px;
}



/* css de login */


@keyframes spinner {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(359deg);
  }
}
* {
  box-sizing: border-box;
}

.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  min-height: 100%;
  padding: 20px;
  background: #33353d;
}

.login {
  border-radius: 2px 2px 5px 5px;
  padding: 10px 20px 20px 20px;
  width: 90%;
  max-width: 320px;
  background: #ffffff;
  position: relative;
  padding-bottom: 80px;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.3);
}
.login.loading button {
  max-height: 100%;
  padding-top: 50px;
}
.login.loading button .spinner {
  opacity: 1;
  top: 40%;
}
.login.ok button {
  background-color: #8bc34a;
}
.login.ok button .spinner {
  border-radius: 0;
  border-top-color: transparent;
  border-right-color: transparent;
  height: 20px;
  animation: none;
  transform: rotateZ(-45deg);
}
.login input {
  display: block;
  padding: 15px 10px;
  margin-bottom: 10px;
  width: 100%;
  border: 1px solid #ddd;
  transition: border-width 0.2s ease;
  border-radius: 2px;
  color: #ccc;
}
.login input + i.fa {
  color: #fff;
  font-size: 1em;
  position: absolute;
  margin-top: -47px;
  opacity: 0;
  left: 0;
  transition: all 0.1s ease-in;
}
.login input:focus {
  outline: none;
  color: #444;
  border-color: #2196f3;
  border-left-width: 35px;
}
.login input:focus + i.fa {
  opacity: 1;
  left: 30px;
  transition: all 0.25s ease-out;
}
.login a {
  font-size: 0.8em;
  color: #2196f3;
  text-decoration: none;
}
.login .title {
  color: #444;
  font-size: 1.2em;
  font-weight: bold;
  margin: 10px 0 30px 0;
  border-bottom: 1px solid #eee;
  padding-bottom: 20px;
}
.login button {
  width: 100%;
  height: 100%;
  padding: 10px 10px;
  background: #2196f3;
  color: #fff;
  display: block;
  border: none;
  margin-top: 20px;
  position: absolute;
  left: 0;
  bottom: 0;
  max-height: 60px;
  border: 0px solid rgba(0, 0, 0, 0.1);
  border-radius: 0 0 2px 2px;
  transform: rotateZ(0deg);
  transition: all 0.1s ease-out;
  border-bottom-width: 7px;
}
.login button .spinner {
  display: block;
  width: 40px;
  height: 40px;
  position: absolute;
  border: 4px solid #ffffff;
  border-top-color: rgba(255, 255, 255, 0.3);
  border-radius: 100%;
  left: 50%;
  top: 0;
  opacity: 0;
  margin-left: -20px;
  margin-top: -20px;
  animation: spinner 0.6s infinite linear;
  transition: top 0.3s 0.3s ease, opacity 0.3s 0.3s ease, border-radius 0.3s ease;
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.2);
}
.login:not(.loading) button:hover {
  box-shadow: 0px 1px 3px #2196f3;
}
.login:not(.loading) button:focus {
  border-bottom-width: 4px;
}

footer {
  display: block;
  padding-top: 50px;
  text-align: center;
  color: #ddd;
  font-weight: normal;
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.2);
  font-size: 0.8em;
}
footer a,
footer a:link {
  color: #fff;
  text-decoration: none;
}


.iconlogin{
  background-color: white;
}



/* css del titulo  */



.pdetitulo {
  
  text-transform: uppercase;
  letter-spacing: 0.5em;
  display: inline-block;
  
  border-width: 4px 0;
  /* padding: 1.5em 0em; */
  padding: 2px 0px 0px 0px;
  padding-left: 90px !important ;
  margin-left: 450px !important;
  /* position: absolute;
  top: 18%;
  left: 50%; */
  width: 40em;
  /* margin: 0 0 0 -20em; */
}



.pdetitulo .spantitulo {
  
  font: 700 4em/1 "Oswald", sans-serif;
  letter-spacing: 0;
  padding: 0.25em 0 0.325em;
  display: block;
  margin: 0 auto;
  text-shadow: 0 0 80px rgba(255, 255, 255, 0.5);
  /* Clip Background Image */
  background: url(https://i.ibb.co/RDTnNrT/animated-text-fill.png) repeat-y;
  -webkit-background-clip: text;
  background-clip: text;
  /* Animate Background Image */
  -webkit-text-fill-color: transparent;
  -webkit-animation: aitf 80s linear infinite;
  /* Activate hardware acceleration for smoother animations */
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-backface-visibility: hidden;
}

/* Animate Background Image */
@-webkit-keyframes aitf {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

.menu{
  font: 400 1em/1.5 "Neuton"; 
  background: #30373d; 
  color: rgba(255,255,255,.25);  
}






.grafica{
  font: 0/0 a;
  text-shadow: transparent;
  color: transparent;
  text-decoration: none;
 
}




  /* a{
    color: white !important;
    background-color: yellow ;
    display:none !important;  
  } */


  /* .superponer{
    background-color: #00aced;
    height: 30px;
    
  } */




  .semueve {
  
    position: relative;
  }
  
  .barra {
   
     position: relative;
    z-index: 50;
    font-size: 20px;
    
  }
  
  .superponer {
    height: 30px !important;
    width: 100% !important;
    position: absolute;
    top: 55px !important;
    z-index: 100;
   background-color: white;
   color: white; 
  }



  .centrarlogin{

    
    margin-top: 10%;

    margin-left: 40%;

  }


.show-element{
  position: relative;
 width: 600px;
 text-align: center;
 top: 100px;
 left: 460px;
  

}